
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: hsl(90, 17%, 98%);
      font-family: Arial, sans-serif;
    }

    .outer-square {
      width: 200px;
      height: 200px;
      border: 5px solid navy;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .inner-square {
      width: 120px;
      height: 120px;
      border: 4px solid royalblue;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: hsl(209, 66%, 45%);
      font-size: 24px;
      font-weight: bold;
      color: navy;
    }
  