    *{
          box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        html, body{
            height: 100vh;
            width:100vw;
        }
        h1{
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 900;
            /* padding: 20px auto; */
            margin: 10% auto;
            word-spacing: 2px;
            color:#fff;
        }
        img{
            width:450px ;
            height: 250;
        }
    