
        *{
            margin: 0px;
            padding: 0px;
            height: 100vh;
            box-sizing: border-box;
        }
        .box{
            height: 50%;
            width: 60%;
            border: 2px solid red;
            position: relative;
        }
        .box1{
            height: 50%;
            width: 40%;
            border: 2px solid black;
            background-color: blue;
        }
        .box2{
            margin-top: 5%;
            margin-left: 9%;
            height: 40%;
            width: 30%;
            border: 2px solid black;
            background-color:yellow;
        }